/*************************
COMPUTER
*************************/

@media screen and (min-width: 1025px) {
	body {
	  font-size: 1em;
	  font-family: "Spartan", sans-serif;
	  font-weight: 400;
	  overflow-x: hidden;
	  overflow-y: hidden;
	  height: 100vh;
	}

	#loader {
		position: fixed;
		width: 100vw;
		height: 100vh;
		top: 0;
		left: 0;
		z-index: 999;
		background-color: white;
	}

	#loader img {
		position: absolute;
		width: 80%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	header {
		position: absolute;
		top: 0;
		width: 99vw;
		height: 5vh;
		padding-top: 3vh;
		text-align: center;
	}

	header > a {
		text-decoration: none;
		color: black;
		margin: 0 5vw;
	}

	h2 {
		font-weight: 400;
	}

	#landing > div {
		height: 100vh;
	}

	#landing-text-holder {
		width: 70%;
		float: right;
		margin-top: 12vh;
		text-align: left;
	}

	#landing-img-holder {
		width: 30%;
		float: left;
		text-align: center;
		vertical-align: middle;
		display: table-cell;
	}

	.landing-img {
		max-height: 60%;
		max-width: 85%;
	    margin: 15vh auto;
	}

	#landing-mobile {
		display: none;
	}

	footer {
		position: absolute;
		width: 99vw;
		margin: 0;
		bottom: 0;
		font-size: .75em;
		text-align: center;
	}

	footer > img {
		width: 100%;
	}

	#subheading {
	  text-align: left;
	  margin-right: 120px;
	  line-height: 25px;
	  font-size: 12px;
	}

	#bodytext {
	  text-align: left;
	  margin-right: 120px;
	  line-height: 25px;
	  font-size: 12px;
	}

	#subheading {
		font-weight: 600;
	}

	#quotes {
		font-family: 'Passion One', cursive;
		font-size: 15px;
	}

	#logos {
		display: inline;
		text-align: center;
		justify-content: center;
	}

	.logo {
		height: 4vh;
		margin: 1vh 2%;
	}
}

/*************************
TABLET
*************************/
@media screen and (max-width: 1024px) and (min-width: 480px) {
	body {
	  font-size: 1em;
	  font-family: "Spartan", sans-serif;
	  font-weight: 400;
	  overflow-x: hidden;
	  height: 100vh;
	}

	#loader {
		position: fixed;
		width: 100vw;
		height: 100vh;
		top: 0;
		left: 0;
		z-index: 999;
		background-color: white;
	}

	#loader img {
		position: absolute;
		width: 80%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	header {
		position: absolute;
		top: 0;
		width: 99vw;
		height: 10vh;
		padding-top: 7vh;
		text-align: center;
	}

	header > a {
		text-decoration: none;
		color: black;
		margin: 0 5vw;
	}

	h1 {
		font-weight: 400;
	}

	#landing-text-holder {
		text-align: center;
		width: 80%;
		margin: auto;
	}

	#landing-img-holder {
		width: 100vw;
		text-align: center;
		vertical-align: middle;
		display: table-cell;
	}

	.landing-img {
		height: 30%;
	    margin: 15vh auto 0 auto;
	}

	#landing-web {
		display: none;
	}

	footer {
		position: relative;
		width: 99vw;
		margin: 0;
		bottom: 0;
		font-size: .75em;
		text-align: center;
		padding-bottom: 2vh;
	}

	footer > img {
		width: 100%;
		margin-bottom: 5vh;
	}

	#bodytext {
	  text-align: justify;
	  line-height: 25px;
	  font-size: 14px;
	  margin: auto;
	  margin-bottom: 5vh;
	}

	#logos {
		display: inline;
		text-align: center;
		justify-content: center;
	}

	.logo {
		height: 4vh;
		margin: 1vh 2%;
	}
}

/*************************
MOBILE
*************************/
@media screen and (max-width: 480px) {
	body {
	  font-size: 1em;
	  font-family: "Spartan", sans-serif;
	  font-weight: 400;
	  overflow-x: hidden;
	  height: 100vh;
	}

	#loader {
		position: fixed;
		width: 100vw;
		height: 100vh;
		top: 0;
		left: 0;
		z-index: 999;
		background-color: white;
	}

	#loader img {
		position: absolute;
		width: 80%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	header {
		position: absolute;
		top: 0;
		width: 99vw;
		height: 10vh;
		padding-top: 7vh;
		text-align: center;
	}

	header > a {
		text-decoration: none;
		color: black;
		margin: 0 5vw;
	}

	h1 {
		font-weight: 400;
	}

	#landing-text-holder {
		text-align: center;
		width: 80%;
		margin: auto;
	}

	#landing-img-holder {
		width: 100vw;
		text-align: center;
		vertical-align: middle;
		display: table-cell;
	}

	.landing-img {
		height: 30%;
	    margin: 15vh auto 0 auto;
	}

	#landing-web {
		display: none;
	}

	footer {
		position: relative;
		width: 99vw;
		margin: 0;
		bottom: 0;
		font-size: .75em;
		text-align: center;
		padding-bottom: 2vh;
	}

	footer > img {
		width: 100%;
		margin-bottom: 5vh;
	}

	#bodytext {
	  text-align: justify;
	  line-height: 25px;
	  font-size: 14px;
	  margin: auto;
	  margin-bottom: 5vh;
	}

	#logos {
		display: inline;
		text-align: center;
		justify-content: center;
	}

	.logo {
		height: 4vh;
		margin: 1vh 2%;
	}
}