/*************************
COMPUTER
*************************/

@media screen and (min-width: 1025px) {
	body {
	  font-size: 1em;
	  font-family: "Spartan", sans-serif;
	  font-weight: 400;
	  overflow-x: hidden;
	  overflow-y: hidden;
	  height: 100vh;
	}

	header {
		position: absolute;
		top: 0;
		width: 99vw;
		height: 5vh;
		padding-top: 3vh;
		text-align: center;
	}

	header > a {
		text-decoration: none;
		color: black;
		margin: 0 4vw;
	}

	h1 {
		font-weight: 400;
	}

	#landing > div {
		height: 100vh;
	}

	#landing-text-holder {
		width: 90%;
		float: left;
		margin-top: 10vh;
	  	margin-left: 20vh;
		text-align: left;
	}

	.row {
		display: inline-block;
		width: 105%;
		height: 65%;
		overflow-y: scroll;
	}

	.row > p {
	  	padding-right: 10%;
	  	float: left;
	  	line-height: 4vh;
	  	font-size: .75em;
	}

	footer {
		position: fixed;
		width: 99vw;
		margin: 0;
		bottom: 0;
		font-size: .6em;
		text-align: center;
		z-index: -1;
	}

	footer > img {
		width: 100%;
		z-index: -1;
		margin-bottom: 6vh;
	}

	h1 {
		margin-bottom: 0;
	}

	a {
		color: black;
	}

	#scroll {
		margin-left: 1.5%;
		font-size: .4em;
		color: grey;
	}

	#cpu-logos {
		position: absolute;
		bottom: 4vh;
		left: 50%;
		transform: translate(-50%, 0);
		height: 6vh;
		width: 100%;
		display: inline;
		text-align: center;
		justify-content: center;
		z-index: 999;
	}

	.cpu-logo {
		height: 4vh;
		margin: 1vh 2%;
		z-index: 999;
	}

	#logos {
		display: none;
	}
}

/*************************
TABLET
*************************/
@media screen and (max-width: 1024px) and (min-width: 480px) {
	a {
		color: black;
	}

	body {
	  font-size: 1em;
	  font-family: "Spartan", sans-serif;
	  font-weight: 400;
	  overflow-x: hidden;
	  height: 100vh;
	}

	header {
		position: absolute;
		top: 0;
		width: 99vw;
		height: 10vh;
		padding-top: 7vh;
		text-align: center;
	}

	header > a {
		text-decoration: none;
		color: black;
		margin: 0 5vw;
	}

	h1 {
		font-weight: 400;
	}

	#landing-text-holder {
		padding-top: 15vh;
		text-align: center;
		width: 80%;
		margin: auto;
	}

	footer {
		position: relative;
		width: 99vw;
		margin: 0;
		bottom: 0;
		font-size: .75em;
		text-align: center;
		padding-bottom: 2vh;
	}

	p {
		line-height: 5vh;
		margin: 0;
	}

	footer > img {
		width: 100%;
		margin-bottom: 5vh;
	}

	#scroll {
		display: none;
	}

	#logos {
		display: inline;
		text-align: center;
		justify-content: center;
	}

	.logo {
		height: 4vh;
		margin: 1vh 2%;
	}

	#cpu-logos {
		display: none;
	}

}

/*************************
MOBILE
*************************/
@media screen and (max-width: 480px) {
	a {
		color: black;
	}

	body {
	  font-size: 1em;
	  font-family: "Spartan", sans-serif;
	  font-weight: 400;
	  overflow-x: hidden;
	  height: 100vh;
	}

	header {
		position: absolute;
		top: 0;
		width: 99vw;
		height: 10vh;
		padding-top: 7vh;
		text-align: center;
	}

	header > a {
		text-decoration: none;
		color: black;
		margin: 0 5vw;
	}

	h1 {
		font-weight: 400;
	}

	#landing-text-holder {
		padding-top: 15vh;
		text-align: center;
		width: 80%;
		margin: auto;
	}

	footer {
		position: relative;
		width: 99vw;
		margin: 0;
		bottom: 0;
		font-size: .75em;
		text-align: center;
		padding-bottom: 2vh;
	}

	p {
		line-height: 5vh;
		margin: 0;
	}

	#scroll {
		display: none;
	}

	footer > img {
		width: 100%;
		margin-bottom: 5vh;
	}

	#logos {
		display: inline;
		text-align: center;
		justify-content: center;
	}

	.logo {
		height: 4vh;
		margin: 1vh 2%;
	}

	#cpu-logos {
		display: none;
	}

}
